extends layout.pug

block content

  article.portfolio-intro

    h1 The Art of Programming

    h2 My Portfolio

    p Here, you'll find a showcase of projects that demonstrate my ability to transform ideas into functional, innovative software. It serves as a testament to my skills, creativity, and dedication to crafting digital solutions. 


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects 
        .cell
            a(href=`/projects/${project.id}`)
              img.thumbnail(src=`${project.image_urls[0]}`, alt=`Thumbnail of ${project.project_name}`)
              h5= project.project_name