<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Nicole Dicochea's Portfolio
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/styles.css')
    //- add favicon
    link(rel="shortcut icon", href="/images/favicon.png", type="image/x-icon")

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          a(href="/")
            img.thumbnail(src='/images/about.png', alt='Photo of Nicole')
        .dev-intro-box
        
          h5 
            a.name(href='/') Nicole Dicochea

          p Software engineer with a strong background in problem-solving, data analysis, and project management. 
          
          p With over 5 years of experience as a scientist, I have honed my skills in quickly learning new technologies, collaborating with cross-functional teams, and delivering exceptional results in fast-paced environments.
          
          p My goal is to contribute to impactful projects where I can apply my analytical mindset, attention to detail, and passion for creating efficient and user-friendly software solutions.

          a(href='/about') Learn More &rarr;
          
          //- add logo for sidebar
          a(href='/')
            img.logo(src="/images/logo_alt_color.png", alt="Logo")

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          //- add logo for mobile layout
          span
            a(href="/")
              img.logo(src='/images/logo.png', alt='Logo')

      block content

  script(src='/js/script.js')